
syllabus/math_syllabus.aux
syllabus/math_syllabus.fdb_latexmk
syllabus/math_syllabus.fls
syllabus/math_syllabus.log
syllabus/math_syllabus.synctex.gz
lectures/L02_probability/Prob_lecture_1_Tom.pdf
lectures/L02_probability/Prob_lecture_1_w_notes_Tom.pdf
.ipynb_checkpoints